/* Font: WorkSans, LarishNeue
Farbe: #fff / #000
font-family: 'Work Sans', sans-serif;
font-family: 'LarishNeue';
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
h1,
h2 {
    font-size: 70px;
    font-family: "LarishNeue";
}
.button {
    border: 1px solid #fff;
    background-color: black;
    color: #fff;
    padding: 15px 3em;
    margin-right: 5em;
}
.button:hover {
    background-color: #fff;
    color: black;
}
@mixin sameStyle {
    display: flex;
    justify-content: space-between;
    margin-left: 9em;
    margin-top: 15vh;
    div:nth-of-type(2) {
        margin-left: 25vw;
        p:nth-of-type(1) {
            padding: 1vh 5em 1em 0;
            font-family: "LarishNeue";
            font-size: 30px;
        }
    }
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap"),
    url("../font/Larish\ Neue\ Semibold.woff2");

/* ########################### Header Stlyes ######################### */
header {
    background-color: #000;
    color: #fff;
    padding-bottom: 15vh;
    article:nth-of-type(1) {
        text-align: center;
        padding-top: 20vh;
        margin-bottom: 15vh;
        .verticalLine {
            border-left: 2px solid #fff;
            opacity: 0.5;
            height: 10em;
            width: 3px;
            position: absolute;
            top: 0;
            left: 50%;
        }
        p {
            font-family: "Work Sans", sans-serif;
            font-size: 14px;
        }
        p:nth-of-type(1) {
            margin-top: 5vh;
        }
        h1,
        h2 {
            letter-spacing: 2px;
        }
        h2 {
            color: black;
            -webkit-text-stroke: 1px white;
            margin-top: -3.5vh;
        }
    }
    article:nth-of-type(2) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #img {
            margin-left: 5em;
        }
    }
}
/* ############################### MAIN  Styles ############################### */
main .sectionOne {
    background-color: black;
    color: #fff;
    padding-top: 10vh;
    padding-bottom: 15vh;
    h2 {
        margin-left: 2em;
        width: 55vw;
    }
    article {
        display: flex;
        margin-left: 9em;
        ul {
            list-style: none;
            margin-top: 15vh;
            li:nth-of-type(even) {
                font-size: 80px;
                font-family: "LarishNeue";
                margin-bottom: 3vh;
            }
        }
        #map {
            margin-left: 15vw;
            width: 45vw;
        }
    }
}
main .sectionTwo {
    .imgSameSize {
        width: 20em;
        height: 15em;
    }
    .imgBig {
        width: 30em;
        height: 20em;
    }
    article:nth-of-type(1) {
        #imgOne {
            transform: translate(55vw, -10vh);
        }
    }
    article:nth-of-type(2) {
        display: flex;
        align-items: center;
        margin: 15vh 0;
        /*   border: 5px solid blue; */
        justify-content: center;

        #imgTwo {
            transform: translate(4vw, -25vh);
        }
        #imgThree {
            transform: translate(-4vw, 30vh);
        }
        div {
            padding: 5em 10em;
            p {
                line-height: 25px;
            }
        }
    }
    article:nth-of-type(3) {
        /* border: 5px solid magenta; */
        margin: 20vh 0;
        #imgFour {
            width: 25em;
            height: 20em;
            transform: translate(10vw, -10vh);
        }
        #imgFive {
            width: 25em;
            height: 25em;
            transform: translate(25vw, 35vh);
        }
    }
    article:nth-of-type(4) {
        /*  border: 5px solid green; */
        margin-top: 35vh;
        margin-bottom: 25vh;
        display: flex;
        justify-content: center;
        p {
            margin-left: 2.3em;
            padding: 5em 0 5em 8em;
            line-height: 25px;
        }
        #imgSix {
            transform: translate(3vw, -5vh);
        }
        #imgSeven {
            transform: translate(-20vw, 35vh);
        }
    }
}
main .sectionThree {
    background-color: black;
    color: #fff;
    padding-top: 10vh;
    article:nth-of-type(1) {
        @include sameStyle;
    }
    article:nth-of-type(2) {
        /* border: 3px solid yellow; */
        margin-top: 15vh;
        #bearOne {
            width: 45vw;
            height: 83vh;
            transform: translate(9em, 15vh);
        }
        #bearTwo {
            width: 28vw;
            transform: translate(5vw, 5vh);
        }
    }
}
main .sectionFour {
    article:nth-of-type(1) {
        #circle {
            width: 35vw;
            transform: translate(70vw, -18vh);
        }
    }
    article:nth-of-type(2) {
        @include sameStyle;
        margin-top: 0;
    }
    article:nth-of-type(3) {
        margin-top: 20vh;
        margin-left: 2em;
        #bearThree {
            width: 25vw;
            transform: translate(-38vw, -13vh);
        }
        #bearFour {
            width: 50vw;
            transform: translate(30vw, 0);
        }
    }
}
