/* Font: WorkSans, LarishNeue
Farbe: #fff / #000
font-family: 'Work Sans', sans-serif;
font-family: 'LarishNeue';
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
h1,
h2 {
    font-size: 70px;
    font-family: "LarishNeue";
}
.button {
    border: 1px solid #fff;
    background-color: black;
    color: #fff;
    padding: 15px 3em;
    margin-right: 5em;
}
.button:hover {
    background-color: #fff;
    color: black;
}
.sectionFive,
.sectionSix,
.sectionSeven {
    display: none;
}
@mixin sameStyle {
    display: flex;
    justify-content: space-between;
    margin-left: 9em;
    margin-top: 15vh;
    div:nth-of-type(2) {
        margin-left: 25vw;
        p:nth-of-type(1) {
            padding: 1vh 5em 1em 0;
            font-family: "LarishNeue";
            font-size: 30px;
        }
    }
}
@mixin sectionStyle {
    background-color: #000;
    color: #fff;
    padding-bottom: 15vh;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap"),
    url("../font/Larish\ Neue\ Semibold.woff2");

/* ########################### Header Stlyes ######################### */
header {
    @include sectionStyle;
    article:nth-of-type(1) {
        text-align: center;
        padding-top: 20vh;
        margin-bottom: 15vh;
        .verticalLine {
            border-left: 2.5px solid #fff;
            opacity: 0.5;
            height: 10em;
            width: 3px;
            position: absolute;
            top: 0;
            left: 50%;
        }
        p {
            font-family: "Work Sans", sans-serif;
            font-size: 14px;
        }
        p:nth-of-type(1) {
            margin-top: 5vh;
        }
        h1,
        h2 {
            letter-spacing: 2px;
        }
        h2 {
            color: black;
            -webkit-text-stroke: 1px white;
            margin-top: -3.5vh;
        }
    }
    article:nth-of-type(2) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #img {
            margin-left: 5em;
        }
    }
}
/* ############################### MAIN  Styles ############################### */
main .sectionOne {
    @include sectionStyle;
    padding-top: 10vh;

    h2 {
        margin-left: 2em;
        width: 55vw;
    }
    article {
        display: flex;
        margin-left: 9em;
        ul {
            list-style: none;
            margin-top: 15vh;
            li:nth-of-type(even) {
                font-size: 80px;
                font-family: "LarishNeue";
                margin-bottom: 3vh;
            }
        }
        #map {
            margin-left: 15vw;
            width: 45vw;
        }
    }
}
main .sectionTwo {
    .imgSameSize {
        width: 20em;
        height: 15em;
    }
    .imgBig {
        width: 30em;
        height: 20em;
    }
    article:nth-of-type(1) {
        #imgOne {
            transform: translate(55vw, -10vh);
        }
    }
    article:nth-of-type(2) {
        display: flex;
        align-items: center;
        margin: 15vh 0;
        justify-content: center;

        #imgTwo {
            transform: translate(4vw, -25vh);
        }
        #imgThree {
            transform: translate(-4vw, 30vh);
        }
        div {
            padding: 5em 10em;
            p {
                line-height: 25px;
            }
        }
    }
    article:nth-of-type(3) {
        margin: 20vh 0;
        #imgFour {
            width: 25em;
            height: 20em;
            transform: translate(10vw, -10vh);
        }
        #imgFive {
            width: 25em;
            height: 25em;
            transform: translate(25vw, 35vh);
        }
    }
    article:nth-of-type(4) {
        margin-top: 35vh;
        margin-bottom: 25vh;
        display: flex;
        justify-content: center;
        p {
            margin-left: 2.3em;
            padding: 5em 0 5em 8em;
            line-height: 25px;
        }
        #imgSix {
            transform: translate(3vw, -5vh);
        }
        #imgSeven {
            transform: translate(-20vw, 35vh);
        }
    }
}
main .sectionThree {
    @include sectionStyle;
    padding-top: 10vh;
    article:nth-of-type(1) {
        @include sameStyle;
    }
    article:nth-of-type(2) {
        margin-top: 15vh;
        #bearOne {
            width: 45vw;
            height: 83vh;
            transform: translate(9em, 15vh);
        }
        #bearTwo {
            width: 28vw;
            transform: translate(5vw, 5vh);
        }
    }
}
main .sectionFour {
    margin-bottom: 10vh;
    article:nth-of-type(1) {
        #circle {
            width: 35vw;
            transform: translate(70vw, -18vh);
            animation: rotate 10s infinite linear;
            overflow: hidden;
        }
        @keyframes rotate {
            from {
                transform: translate(70vw, -18vh) rotate(0deg);
            }
            to {
                transform: translate(70vw, -18vh) rotate(360deg);
            }
        }
    }
    article:nth-of-type(2) {
        @include sameStyle;
        margin-top: 0;
    }
    article:nth-of-type(3) {
        margin-top: 20vh;
        margin-left: 2em;
        #bearThree {
            width: 25vw;
            transform: translate(-38vw, -13vh);
        }
        #bearFour {
            width: 50vw;
            transform: translate(30vw, 0);
        }
    }
}

footer {
    @include sectionStyle;
    padding-bottom: 5vh;
    overflow: hidden;
    .marquee {
        background-color: #fff;
        color: black;
        text-align: center;
        transform: matrix(0.79, 0.62, -0.62, 0.79, 500, 265);
        h2 {
            animation: run 2s infinite linear;
            span {
                font-family: "LarishNeue";
                color: white;
                -webkit-text-stroke: 1.5px black;
            }
        }
        @keyframes run {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-10%);
            }
        }
    }
    article:nth-of-type(1) {
        margin: 10vh 0 15vh 9em;
        width: 40vw;
        p:nth-of-type(2) {
            font-family: "LarishNeue";
            font-size: 40px;
            margin: 2vh 0;
        }
        .button {
            margin-top: 5vh;
            font-size: 20px;
        }
    }
    article:nth-of-type(2) {
        margin-left: 9em;
        img {
            width: 2vw;
        }
    }
    article:nth-of-type(3) {
        margin-left: 9em;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        div:nth-of-type(1) {
            p {
                font-size: 20px;
            }
        }
        div:nth-of-type(2) {
            margin-right: 4em;
            img {
                width: 8vw;
            }
        }
    }
}
/* ############################ MediaQueries ############################# */
@media only screen and (max-width: 600px) {
    .sectionTwo,
    .sectionThree,
    .sectionFour {
        display: none;
    }
    .sectionFive,
    .sectionSix,
    .sectionSeven {
        display: block;
        margin: 3em 2em;
    }
    h2 {
        font-size: 45px;
    }
    .picWidth {
        width: 30%;
        margin: 10vh 0;
    }
    .picWidthFirstLine {
        width: 49%;
        margin: 8vh 0;
    }

    .sectionOne {
        article {
            background: url("../img/map.svg") right/contain no-repeat;
            ul {
                list-style: none;
                margin-top: 10vh;
                li:nth-of-type(even) {
                    font-size: 20px;
                    font-family: "LarishNeue";
                    margin-bottom: 3vh;
                }
            }
            #map {
                display: none;
            }
        }
    }
    .sectionFive {
        article:nth-of-type(3) {
            margin-left: 5vw;
        }
    }
    #rotateAnimation {
        animation: rotate 10s infinite linear;
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
    .sectionSeven {
        article:nth-of-type(2) {
            margin: 5vh 0;
            display: flex;
            justify-content: space-between;
            img:nth-of-type(1) {
                width: 45vw;
            }
            img:nth-of-type(2) {
                width: 35vw;
            }
        }
    }
    footer {
        .marquee {
            margin-top: 3vh;
            transform: none;
            h2 {
                animation: run 5s infinite linear;
                font-size: 30px;
            }
        }
        @keyframes run {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-50%);
            }
        }
        article:nth-of-type(1) {
            margin: 5vh 8vw;
            width: 70vw;
            p:nth-of-type(2) {
                font-size: 30px;
            }
            .button {
                font-size: 13px;
            }
        }
        article:nth-of-type(2),
        article:nth-of-type(3) {
            margin-left: 8vw;
        }
        article:nth-of-type(3) {
            div:nth-of-type(1) {
                p {
                    font-size: 13px;
                }
            }
        }
    }
}
