/* Font: WorkSans, LarishNeue
Farbe: #fff / #000
font-family: 'Work Sans', sans-serif;
font-family: 'LarishNeue';
 */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");
@import url("../font/Larish Neue Semibold.woff2");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

h1,
h2 {
  font-size: 70px;
  font-family: "LarishNeue";
}

.button {
  border: 1px solid #fff;
  background-color: black;
  color: #fff;
  padding: 15px 3em;
  margin-right: 5em;
}

.button:hover {
  background-color: #fff;
  color: black;
}

/* ########################### Header Stlyes ######################### */
header {
  background-color: #000;
  color: #fff;
  padding-bottom: 15vh;
}
header article:nth-of-type(1) {
  text-align: center;
  padding-top: 20vh;
  margin-bottom: 15vh;
}
header article:nth-of-type(1) .verticalLine {
  border-left: 2px solid #fff;
  opacity: 0.5;
  height: 10em;
  width: 3px;
  position: absolute;
  top: 0;
  left: 50%;
}
header article:nth-of-type(1) p {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
}
header article:nth-of-type(1) p:nth-of-type(1) {
  margin-top: 5vh;
}
header article:nth-of-type(1) h1,
header article:nth-of-type(1) h2 {
  letter-spacing: 2px;
}
header article:nth-of-type(1) h2 {
  color: black;
  -webkit-text-stroke: 1px white;
  margin-top: -3.5vh;
}
header article:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header article:nth-of-type(2) #img {
  margin-left: 5em;
}

/* ############################### MAIN  Styles ############################### */
main .sectionOne {
  background-color: black;
  color: #fff;
  padding-top: 10vh;
  padding-bottom: 15vh;
}
main .sectionOne h2 {
  margin-left: 2em;
  width: 55vw;
}
main .sectionOne article {
  display: flex;
  margin-left: 9em;
}
main .sectionOne article ul {
  list-style: none;
  margin-top: 15vh;
}
main .sectionOne article ul li:nth-of-type(even) {
  font-size: 80px;
  font-family: "LarishNeue";
  margin-bottom: 3vh;
}
main .sectionOne article #map {
  margin-left: 15vw;
  width: 45vw;
}

main .sectionTwo .imgSameSize {
  width: 20em;
  height: 15em;
}
main .sectionTwo .imgBig {
  width: 30em;
  height: 20em;
}
main .sectionTwo article:nth-of-type(1) #imgOne {
  transform: translate(55vw, -10vh);
}
main .sectionTwo article:nth-of-type(2) {
  display: flex;
  align-items: center;
  margin: 15vh 0;
  /*   border: 5px solid blue; */
  justify-content: center;
}
main .sectionTwo article:nth-of-type(2) #imgTwo {
  transform: translate(4vw, -25vh);
}
main .sectionTwo article:nth-of-type(2) #imgThree {
  transform: translate(-4vw, 30vh);
}
main .sectionTwo article:nth-of-type(2) div {
  padding: 5em 10em;
}
main .sectionTwo article:nth-of-type(2) div p {
  line-height: 25px;
}
main .sectionTwo article:nth-of-type(3) {
  /* border: 5px solid magenta; */
  margin: 20vh 0;
}
main .sectionTwo article:nth-of-type(3) #imgFour {
  width: 25em;
  height: 20em;
  transform: translate(10vw, -10vh);
}
main .sectionTwo article:nth-of-type(3) #imgFive {
  width: 25em;
  height: 25em;
  transform: translate(25vw, 35vh);
}
main .sectionTwo article:nth-of-type(4) {
  /*  border: 5px solid green; */
  margin-top: 35vh;
  margin-bottom: 25vh;
  display: flex;
  justify-content: center;
}
main .sectionTwo article:nth-of-type(4) p {
  margin-left: 2.3em;
  padding: 5em 0 5em 8em;
  line-height: 25px;
}
main .sectionTwo article:nth-of-type(4) #imgSix {
  transform: translate(3vw, -5vh);
}
main .sectionTwo article:nth-of-type(4) #imgSeven {
  transform: translate(-20vw, 35vh);
}

main .sectionThree {
  background-color: black;
  color: #fff;
  padding-top: 10vh;
}
main .sectionThree article:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  margin-left: 9em;
  margin-top: 15vh;
}
main .sectionThree article:nth-of-type(1) div:nth-of-type(2) {
  margin-left: 25vw;
}
main .sectionThree article:nth-of-type(1) div:nth-of-type(2) p:nth-of-type(1) {
  padding: 1vh 5em 1em 0;
  font-family: "LarishNeue";
  font-size: 30px;
}
main .sectionThree article:nth-of-type(2) {
  /* border: 3px solid yellow; */
  margin-top: 15vh;
}
main .sectionThree article:nth-of-type(2) #bearOne {
  width: 45vw;
  height: 83vh;
  transform: translate(9em, 15vh);
}
main .sectionThree article:nth-of-type(2) #bearTwo {
  width: 28vw;
  transform: translate(5vw, 5vh);
}

main .sectionFour article:nth-of-type(1) #circle {
  width: 35vw;
  transform: translate(70vw, -18vh);
}
main .sectionFour article:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  margin-left: 9em;
  margin-top: 15vh;
  margin-top: 0;
}
main .sectionFour article:nth-of-type(2) div:nth-of-type(2) {
  margin-left: 25vw;
}
main .sectionFour article:nth-of-type(2) div:nth-of-type(2) p:nth-of-type(1) {
  padding: 1vh 5em 1em 0;
  font-family: "LarishNeue";
  font-size: 30px;
}
main .sectionFour article:nth-of-type(3) {
  margin-top: 20vh;
  margin-left: 2em;
}
main .sectionFour article:nth-of-type(3) #bearThree {
  width: 25vw;
  transform: translate(-38vw, -13vh);
}
main .sectionFour article:nth-of-type(3) #bearFour {
  width: 50vw;
  transform: translate(30vw, 0);
}

/*# sourceMappingURL=main.css.map */
